# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties
*.jks
*.keystore
keystore.properties

# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
captures/
.externalNativeBuild/
.cxx/

# OS/editor
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.log

# APK/Bundles/Outputs
*.apk
*.ap_
*.aab
output.json

# NDK/CMake
obj/