<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto" >

    <!-- Required to load websites. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <queries>
        <!-- I2P. -->
        <package android:name="net.i2p.android" />  <!-- Google Play flavor. -->
        <package android:name="net.i2p.android.router" />  <!-- F-Droid flavor. -->

        <!-- Orbot. -->
        <package android:name="org.torproject.android" />

        <!-- OpenKeyChain. -->
        <package android:name="org.sufficientlysecure.keychain" />
    </queries>

    <application
        android:name=".App"
        android:label="@string/audeon_browser"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:supportsRtl="true"
        android:theme="@style/audeonbrowser"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config"
        tools:ignore="DataExtractionRules,UnusedAttribute" >

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <!-- Explicitly disable "Safe Browsing". -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider"
            android:exported="false"
            android:grantUriPermissions="true" >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".activities.MainWebViewActivity"
            android:label="@string/short_name"
            android:theme="@style/audeonbrowser"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            android:exported="true"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Process web intents. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <!-- Process all content intents. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="multipart/related" />
                <data android:mimeType="message/rfc822" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.BookmarksActivity"
            android:label="@string/bookmarks"
            android:parentActivityName=".activities.MainWebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".activities.BookmarksDatabaseViewActivity"
            android:label="@string/bookmarks_database_view"
            android:parentActivityName=".activities.BookmarksActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".activities.RequestsActivity"
            android:label="@string/requests"
            android:parentActivityName=".activities.MainWebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".activities.DomainsActivity"
            android:label="@string/domains"
            android:parentActivityName=".activities.MainWebViewActivity"
            android:configChanges="screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainWebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".activities.ImportExportActivity"
            android:label="@string/import_export"
            android:parentActivityName=".activities.MainWebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".activities.LogcatActivity"
            android:label="@string/logcat"
            android:parentActivityName=".activities.MainWebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about_audeon_browser"
            android:parentActivityName=".activities.MainWebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".activities.ViewHeadersActivity"
            android:label="@string/view_headers"
            android:parentActivityName=".activities.MainWebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="fullUser"
            android:persistableMode="persistNever"
            tools:ignore="DiscouragedApi" />
    </application>
</manifest>